@{
    ViewData["Title"] = "Bangla Date";
}

<link href="https://fonts.maateen.me/bangla/font.css" rel="stylesheet">

<div style="font-family: Helvetica, sans-serif; border-radius: 20%;">
	<h1 class="bg-warning p-4 text-center">@ViewBag.EnglishDate</h1>
	<h1 class="bg-warning p-4 text-center">@ViewBag.EnglishTime</h1>
</div>

<div style="font-family: 'Bangla', sans-serif; border-radius: 20% !important;">
	<h1 class="bg-warning p-4 text-center">@ViewBag.BanglaDate</h1>
	<h1 class="bg-warning p-4 text-center">@ViewBag.BanglaTime</h1>
</div>